.testimonial-grid {
  overflow: hidden;
  width: min(95%, 70rem);
  display: grid;
  grid-template-columns: 1fr;

  padding-block: 2rem;
  gap: 2rem;
  margin-inline: auto;
}

.bc-quote {
  background-image: url("./assets/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 10%;
}

.flex {
  display: flex;
  gap: 2rem;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 800px) {
  .testimonial-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .col-span-2 {
    grid-column: span 2;
  }
}